---
import Bg2Img from "../assets/2acce189f87911a8c87dfd2d901ee667.jpg";
import BookIcon from "../assets/body-part-muscle-stroke-rounded.svg";
import CloseIcon from "../assets/cancel-01-stroke-rounded.svg";
import HandShakeIcon from "../assets/city-03-stroke-rounded.svg";
import Bg3Img from "../assets/image 4.jpg";
import KidIcon from "../assets/kid-stroke-rounded.svg";
import LogoImg from "../assets/logo-no-text.png";
import MenuIcon from "../assets/menu-01-stroke-rounded.svg";
import PartyIcon from "../assets/party-stroke-rounded.svg";
import "../styles/global.css";
import Footer from "./Footer.astro";
import FooterContact from "./FooterContact.astro";
import Navigation from "./Navigation.astro";
import PageHeader from "./PageHeader.astro";
---

<div class="fixed z-50 t-0 l-0 w-full">
  <div
    class="bg-white/60 shadow backdrop-blur w-full px-4 py-1 flex items-center flex-col border-b border-black/25"
  >
    <div class="container grid lg:grid-cols-2">
      <div
        class="flex justify-between items-center md:justify-center lg:justify-start"
      >
        <div class="flex flex-row gap-4">
          <img src={LogoImg.src} class="w-20 aspect-square object-scale-down" />
          <h1
            class="flex flex-col justify-center text-red-800 font-bold text-3xl"
          >
            Hasiči Tuchořice
            <small class="text-gray-800 text-sm font-medium"
              >Pohotovostní služba</small
            >
          </h1>
        </div>

        <div class="md:hidden sm:block">
          <button
            id="mobile-menu-toggle"
            type="button"
            class="cursor-pointer group rounded-xl border border-gray-800 p-2 hover:bg-orange-600 transition-colors hover:border-orange-600"
          >
            <MenuIcon
              class="group-hover:text-white transition-colors text-gray-800 hidden group-[:not(.is-open)]:block"
            />
            <CloseIcon
              class="group-hover:text-white hidden group-[.is-open]:block transition-colors text-gray-800"
            />
          </button>
        </div>
      </div>

      <Navigation />
    </div>
  </div>
</div>

<PageHeader imgSrc={Bg3Img.src} title="O nás" />

<div
  class="w-full bg-gray-100 px-4 py-20 pt-10 flex items-center relative flex-col border-t border-black/50"
>
  <div class="container">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      <div class="prose">
        <p class="mb-6 text-lg font-medium text-gray-800">
          <strong>Sbor dobrovolných hasičů Tuchořice</strong> je tým lidí, kteří
          se rozhodli věnovat svůj čas, energii a odhodlání pro dobro ostatních.
          Naši členové nejsou profesionály v zaměstnání, ale <em
            >srdcem a přístupem</em
          > k práci se jim vyrovnají. Každý zásah je pro nás <strong
            >výzvou</strong
          >, při které musíme být rychlí, odvážní a spolehliví.
        </p>

        <p class="mb-6 text-lg font-medium text-gray-800">
          <u>Naše činnost</u> není jen o výjezdech k požárům či povodním. Důležitou
          součástí naší práce je také <strong
            >preventivní činnost a tréninky</strong
          >, kde zdokonalujeme své schopnosti. Zároveň jsme <em
            >pevnou součástí společenského života obce</em
          > – organizujeme tradiční akce jako
          <strong
            >Šlapka Bédy Keila, staročeské máje, stavění máje, vepřové hody či
            hasičský ples</strong
          >. Spolupracujeme s dalšími spolky v obci a každoročně děláme radost
          dětem při oslavách Dne dětí, kde ukazujeme naši techniku a
          připravujeme oblíbenou <strong>pěnovou show</strong>.
        </p>

        <p class="mb-6 text-lg font-medium text-gray-800">
          <strong>Být dobrovolným hasičem v Tuchořicích</strong> znamená nejen pomáhat
          v čase nouze, ale také <em>tvořit komunitu</em>, ve které se lidé
          mohou na sebe spolehnout.
        </p>
      </div>
      <div class="flex gap-6 flex-col">
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <BookIcon class="text-red-800" />Trénink a dovednosti
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Na pravidelných cvičeních zdokonalujeme své schopnosti, abychom byli
            vždy připraveni.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <PartyIcon class="text-red-800" />Tradice a slavnosti
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            sme pevnou součástí společenského života obce – pořádáme máje, hody,
            plesy i další tradiční akce.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <KidIcon class="text-red-800" />Radost a programy pro děti
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Dětem přinášíme radost při Dni dětí, ukazujeme techniku a
            připravujeme oblíbenou pěnovou show.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <HandShakeIcon class="text-red-800" />Komunita a soudržnost
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Být hasičem znamená nejen pomáhat v nouzi, ale i tvořit komunitu, ve
            které se lidé mohou spolehnout jeden na druhého.
          </p>
        </div>
      </div>
    </div>
  </div>
  <img
    src={Bg2Img.src}
    class="select-none absolute pointer-events-none left-0 bottom-0 top-0 h-full opacity-20"
    style="
    object-fit: cover;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    "
  />
</div>

<!-- Footer -->
<div class="relative overflow-hidden">
  <FooterContact />
  <Footer />
</div>
