---
import Bg2Img from "../assets/2acce189f87911a8c87dfd2d901ee667.jpg";
import Bg3Img from "../assets/489464296_1078213864352338_6720408195853930280_n.jpg";
import HandShakeIcon from "../assets/agreement-02-stroke-rounded.svg";
import BookIcon from "../assets/book-02-stroke-rounded.svg";
import BulbIcon from "../assets/bulb-stroke-rounded.svg";
import CloseIcon from "../assets/cancel-01-stroke-rounded.svg";
import FireIcon from "../assets/fire-stroke-rounded.svg";
import LogoImg from "../assets/logo-no-text.png";
import MenuIcon from "../assets/menu-01-stroke-rounded.svg";
import "../styles/global.css";
import Footer from "./Footer.astro";
import FooterContact from "./FooterContact.astro";
import Navigation from "./Navigation.astro";
import PageHeader from "./PageHeader.astro";
---

<div class="fixed z-50 t-0 l-0 w-full">
  <div
    class="bg-white/60 shadow backdrop-blur w-full px-4 py-1 flex items-center flex-col border-b border-black/25"
  >
    <div class="container grid lg:grid-cols-2">
      <div
        class="flex justify-between items-center md:justify-center lg:justify-start"
      >
        <div class="flex flex-row gap-4">
          <img src={LogoImg.src} class="w-20 aspect-square object-scale-down" />
          <h1
            class="flex flex-col justify-center text-red-800 font-bold text-3xl"
          >
            Hasiči Tuchořice
            <small class="text-gray-800 text-sm font-medium"
              >Pohotovostní služba</small
            >
          </h1>
        </div>

        <div class="md:hidden sm:block">
          <button
            id="mobile-menu-toggle"
            type="button"
            class="cursor-pointer group rounded-xl border border-gray-800 p-2 hover:bg-orange-600 transition-colors hover:border-orange-600"
          >
            <MenuIcon
              class="group-hover:text-white transition-colors text-gray-800 hidden group-[:not(.is-open)]:block"
            />
            <CloseIcon
              class="group-hover:text-white hidden group-[.is-open]:block transition-colors text-gray-800"
            />
          </button>
        </div>
      </div>

      <Navigation />
    </div>
  </div>
</div>

<PageHeader imgSrc={Bg3Img.src} title="Naše technika" />

<div
  class="w-full bg-gray-100 px-4 py-20 pt-10 flex items-center relative flex-col border-t border-black/50"
>
  <div class="container">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      <div class="prose">
        <p class="mb-6 text-lg font-medium text-gray-800">
          Každý zásah si vyžaduje nejen připravené hasiče, ale také spolehlivou
          techniku. V průběhu let jsme prošli obrovskou změnou – od skromných
          začátků až po vybavení, které dnes splňuje moderní požadavky.
        </p>

        <p class="mb-6 text-lg font-medium text-gray-800">
          K největším milníkům patří:
        </p>
        <ul class="text-lg font-medium text-gray-800">
          <li>
            <strong>2011</strong> – získání výjezdového vozidla LIAZ 101.860 CAS
            25 od HZS,
          </li>
          <li>
            <strong>2017</strong> – zakoupení zcela nového vozidla Tatra Force CAS
            30/9000/540-S3VH,
          </li>
          <li>
            <strong>2019</strong> – dopravní automobil Ford Transit DA-L1Z s přívěsem,
          </li>
          <li>
            <strong>2021</strong> – pořízení druhého nového výjezdového vozidla Scania
            P 440 B4x4HZ CAS 20/4000/240-S2R.
          </li>
        </ul>

        <p class="mb-6 text-lg font-medium text-gray-800">
          Kromě těchto cisternových automobilů máme také <strong
            >velitelský automobil</strong
          >, který usnadňuje řízení zásahů.
        </p>

        <p class="mb-6 text-lg font-medium text-gray-800">
          Dnes jednotka disponuje dvěma cisternovými automobily, jedním
          dopravním vozidlem s přívěsem a velitelským autem. Veškeré toto
          vybavení slouží <strong>25 členům naší výjezdové jednotky</strong>,
          kteří jsou připraveni zasáhnout při jakémkoli ohrožení.
        </p>

        <p class="mb-6 text-lg font-medium text-gray-800">
          Pro nás však technika není jen o strojích – je to <em
            >nástroj, který nám umožňuje zachraňovat životy, chránit majetek a
            pomáhat našim sousedům a přátelům.</em
          >
        </p>
      </div>
      <div class="flex gap-6 flex-col">
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <FireIcon class="text-red-800" /> Zásahová činnost
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Jsme připraveni 24/7 k výjezdům – od hašení požárů přes záchranné
            práce až po poskytování první pomoci v celém našem zásahovém obvodu.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <BookIcon class="text-red-800" />Výcvik dobrovolníků
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Naši členové se neustále školí a získávají nové certifikace, abychom
            vždy udrželi nejvyšší standard bezpečnosti a efektivity.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <BulbIcon class="text-red-800" />Osvěta a prevence
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Pořádáme programy požární ochrany, navštěvujeme školy a vedeme
            kampaně, které mají za cíl předcházet mimořádným událostem dříve,
            než nastanou.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <HandShakeIcon class="text-red-800" />Spolupráce s obcí a okolím
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Úzce spolupracujeme se sousedními obcemi, spolky a organizacemi.
            Podílíme se na kulturních a společenských akcích a jsme vždy tam,
            kde je potřeba pomoc.
          </p>
        </div>
      </div>
    </div>
  </div>
  <img
    src={Bg2Img.src}
    class="select-none absolute pointer-events-none left-0 bottom-0 top-0 h-full opacity-20"
    style="
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    "
  />
</div>

<!-- Footer -->
<div class="relative overflow-hidden">
  <FooterContact />
  <Footer />
</div>
