---
import Bg2Img from "../assets/2acce189f87911a8c87dfd2d901ee667.jpg";
import Bg3Img from "../assets/489464296_1078213864352338_6720408195853930280_n.jpg";
import "../styles/global.css";
import BottomPanel from "./BottomPanel.astro";
import PageHeader from "./PageHeader.astro";
import TopPanel from "./TopPanel.astro";
---

<TopPanel />
<PageHeader imgSrc={Bg3Img.src} title="Naše technika" />

<div
  class="w-full bg-gray-100 px-4 py-20 pt-10 flex items-center relative flex-col border-t border-black/50"
>
  <div class="container">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      <div class="prose">
        <p class="mb-6 text-lg font-medium text-gray-800">
          Každý zásah si vyžaduje nejen připravené hasiče, ale také spolehlivou
          techniku. V průběhu let jsme prošli obrovskou změnou – od skromných
          začátků až po vybavení, které dnes splňuje moderní požadavky.
        </p>

        <p class="mb-6 text-lg font-medium text-gray-800">
          K největším milníkům patří:
        </p>
        <ul class="text-lg font-medium text-gray-800">
          <li>
            <strong>2011</strong> – získání výjezdového vozidla LIAZ 101.860 CAS
            25 od HZS,
          </li>
          <li>
            <strong>2017</strong> – zakoupení zcela nového vozidla Tatra Force CAS
            30/9000/540-S3VH,
          </li>
          <li>
            <strong>2019</strong> – dopravní automobil Ford Transit DA-L1Z s přívěsem,
          </li>
          <li>
            <strong>2021</strong> – pořízení druhého nového výjezdového vozidla Scania
            P 440 B4x4HZ CAS 20/4000/240-S2R.
          </li>
        </ul>

        <p class="mb-6 text-lg font-medium text-gray-800">
          Kromě těchto cisternových automobilů máme také <strong
            >velitelský automobil</strong
          >, který usnadňuje řízení zásahů.
        </p>

        <p class="mb-6 text-lg font-medium text-gray-800">
          Dnes jednotka disponuje dvěma cisternovými automobily, jedním
          dopravním vozidlem s přívěsem a velitelským autem. Veškeré toto
          vybavení slouží <strong>25 členům naší výjezdové jednotky</strong>,
          kteří jsou připraveni zasáhnout při jakémkoli ohrožení.
        </p>

        <p class="mb-6 text-lg font-medium text-gray-800">
          Pro nás však technika není jen o strojích – je to <em
            >nástroj, který nám umožňuje zachraňovat životy, chránit majetek a
            pomáhat našim sousedům a přátelům.</em
          >
        </p>
      </div>
      <div class="flex gap-6 flex-col">
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            LIAZ CAS 25 (2011)
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Historicky důležitá cisterna kategorie CAS 25, která znamenala první
            velký posun ve výbavě jednotky. Spolehlivý „pracant“ na technické
            pomoci i požáry menšího a středního rozsahu.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            Tatra Force CAS 30 (2017)
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Moderní těžká cisterna pro zásahy s vysokými nároky na objem vody a
            průchodnost terénem. Ideální pro dlouhotrvající požáry a zásahy mimo
            zpevněné komunikace.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            Ford Transit DA-L1Z (2019)
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Dopravní automobil pro převoz družstva a materiálu. Univerzál, který
            zvyšuje rychlost logistické podpory i při větších událostech.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            Scania P 440 CAS 20 (2021)
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Novější výjezdová cisterna kategorie CAS 20 pro všestranné použití –
            rychlý výjezd, moderní zázemí posádky, dobré jízdní vlastnosti v
            obci i mimo ni.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            Velitelský automobil
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Vozidlo pro taktickou koordinaci zásahu a spojení s operačním
            střediskem. Umožňuje veliteli být rychle na místě, provést průzkum a
            řídit síly a prostředky.
          </p>
        </div>
      </div>
    </div>
  </div>
  <img
    src={Bg2Img.src}
    class="select-none absolute pointer-events-none left-0 bottom-0 top-0 h-full opacity-20"
    style="
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    "
  />
</div>

<BottomPanel />
