---
import Bg2Img from "../assets/2acce189f87911a8c87dfd2d901ee667.jpg";
import Bg3Img from "../assets/487187042_1068593595314365_3021601317366063093_n.jpg";
import PlaceholderIcon from "../assets/image-02-stroke-rounded.svg";
import "../styles/global.css";
import BottomPanel from "./BottomPanel.astro";
import PageHeader from "./PageHeader.astro";
import TopPanel from "./TopPanel.astro";
---

<TopPanel />
<PageHeader imgSrc={Bg3Img.src} title="Naše akce a aktivity" />

<div
  class="w-full bg-gray-100 px-4 py-20 pt-10 flex items-center relative flex-col border-t border-black/50"
>
  <div class="container">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
      <p class="mb-6 text-lg font-medium text-gray-800 col-span-2">
        Objevte, jak naši dobrovolní hasiči aktivně slouží a zapojují se do
        komunity prostřednictvím školení, vzdělávání a osvětových programů.
      </p>
    </div>
    <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 w-full">
      {
        [1, 2, 3, 4, 5, 6].map((i) => (
          <div class="border-gray-200 border-1 bg-gray-100 shadow-sm rounded-xl group cursor-pointer">
            <div class="mx-auto flex flex-col">
              <div class="bg-gray-200 flex items-stretch justify-items-stretch w-full min-h-[200px] max-h-[200px] overflow-hidden rounded-t-xl relative">
                <span class="absolute top-3 z-20 text-white left-3 bg-gradient-to-l from-orange-600 to-orange-700 px-3 py-1 rounded-full text-sm font-semibold">
                  Trenink
                </span>
                <img
                  class="w-full object-cover relative z-10 transition-transform duration-300 transform group-hover:scale-110"
                  src={`https://picsum.photos/seed/${i}/400/200`}
                />
                <PlaceholderIcon class="text-gray-300 w-12 h-12 absolute inset-0 m-auto" />
              </div>
              <div class="p-6 prose">
                <h4 class="text-gray-800 text-xl group-hover:text-red-800">
                  Tréninkové cvičení
                </h4>
                <small class="text-sm">Březen 4, 2025</small>
                <p class="text-gray-800 font-light mt-1 leading-normal">
                  Měsíční školení zaměřené na pokročilé záchranné techniky a
                  práci s vybavením
                </p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <img
    src={Bg2Img.src}
    class="select-none absolute pointer-events-none left-0 bottom-0 top-0 h-full opacity-20"
    style="
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    "
  />
</div>

<BottomPanel />
