---
import LogoImg from "../assets/logo-no-text.png";
---

<div class="flex flex-row gap-4">
  <img src={LogoImg.src} class="w-20 aspect-square object-scale-down" />
  <h1 class="flex flex-col justify-center text-red-800 font-bold text-3xl">
    Hasiči Tuchořice
    <small class="text-gray-800 text-sm font-medium">Pohotovostní služba</small>
  </h1>
</div>
