---
import Bg2Img from "../assets/2acce189f87911a8c87dfd2d901ee667.jpg";
import Bg3Img from "../assets/543513854_1193445936162463_8063061448229218611_n.jpg";
import "../styles/global.css";
import BottomPanel from "./BottomPanel.astro";
import PageHeader from "./PageHeader.astro";
import TopPanel from "./TopPanel.astro";
---

<TopPanel />
<PageHeader imgSrc={Bg3Img.src} title="Členové" />

<div
  class="w-full bg-gray-100 px-4 py-20 pt-10 flex items-center relative flex-col border-t border-black/50"
>
  <div class="container">
     <div class="prose">
        <p class="mb-6 text-lg font-medium text-gray-800">
         <strong>Každý člen je důležitou součástí našeho týmu</strong> – ať už jde o výjezdovou jednotku, mládež nebo podporovatele v zázemí.



        </p>
        <p class="mb-4 text-lg text-gray-800 prose font-bold">
Zde najdete seznam členů:
</p>
      </div>
    <div class="bg-white shadow-sm rounded-xl flex flex-col gap-1 overflow-hidden">
      <table>
        <thead class="text-2xl text-left text-white">
          <tr class="border-b border-black/25 bg-orange-600">
            <th class="py-2 px-4 pt-6">Meno</th>
            <th class="py-2 px-4 pt-6">Pozícia</th>
          </tr>
        </thead>
        <tbody class="text-lg">
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Libor Richter </td><td class="px-4 py-4"
              >velitel jednotky</td
            ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Milan Janza</td><td class="px-4 py-4"
              >zástupce velitele jednotky</td
            ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Pavel Beránek</td><td class="px-4 py-4"
              >st. velitel družstva</td
            ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Petr Hrdlička</td><td class="px-4 py-4"
              >velitel družstva</td
            ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Pavel Beránek ml.</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Václav Pavlas</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Václav Pilař</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Martin Šindelář</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Jaroslav Šůma</td><td class="px-4 py-4"
              >starosta sboru</td
            ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Michal Varga</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Vlastimil Andrt</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Jiří Daněk</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Michal Halgaš</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Václav Hloušek</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Miroslav Jedlička</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Pavel Kašík</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Pavel Maule</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Roman Nový</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Michal Ondrůj</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Michal Pavlas</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Jakub Pexa</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Roman Rendl</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Antonín Schöner</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Jaroslav Štieber</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Stanislav Štieber</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Radko Tabulka</td><td class="px-4 py-4"
              ></tr
          >
          <tr class="border-b border-black/25"
            ><td class="px-4 py-4 bg-zinc-100 font-semibold border-r border-black/25">Lukáš Uhlík</td><td class="px-4 py-4"
              ></tr
          >
        </tbody>
      </table>
    </div>
  </div>
  <img
    src={Bg2Img.src}
    class="select-none absolute pointer-events-none left-0 bottom-0 top-0 h-full opacity-10"
    style="
    object-fit: cover;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    "
  />
</div>

<BottomPanel />
