---
import Bg2Img from "../assets/2acce189f87911a8c87dfd2d901ee667.jpg";
import FavIcon from "../assets/favourite-stroke-rounded.svg";
import HandShakeIcon from "../assets/healtcare-stroke-rounded.svg";
import TuchoriceErb from "../assets/Mask group (1).png";
import Bg3Img from "../assets/sponsors.jpg";
import VedosIcon from "../assets/VEDOS-Hosting-logo.svg";
import "../styles/global.css";
import BottomPanel from "./BottomPanel.astro";
import PageHeader from "./PageHeader.astro";
import TopPanel from "./TopPanel.astro";
---

<TopPanel />
<PageHeader imgSrc={Bg3Img.src} title="Sponzoři, dárci, partneři" />

<div
  class="w-full bg-gray-100 px-4 py-20 pt-10 flex items-center relative flex-col border-t border-black/50"
>
  <div class="container">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-4">
      <div class="prose col-span-2 md:col-span-3">
        <p class="mb-6 text-lg font-medium text-gray-800">
          <strong
            >Upřímně děkujeme všem partnerům, firmám i jednotlivcům.</strong
          >
        </p>
        <p class="mb-6 text-lg font-medium text-gray-800">
          Díky vám můžeme <em>chránit životy a majetek v Tuchořicích a okolí</em
          >, pomáhat při mimořádných událostech a <strong
            >udržovat hasičskou tradici</strong
          > v naší obci.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-1">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
      >
        <div class="bg-white shadow-sm rounded-xl flex flex-col gap-1 p-8">
          <div class="flex items-center w-full h-20 justify-center">
            <VedosIcon />
          </div>
          <p class="text-gray-800 text-sm font-semibold mt-6">
            Vedos.cz nám poskytuje webhosting.<br /> — Děkujeme za spolehlivé technické
            zázemí pro náš web.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl flex flex-col gap-1 p-8">
          <div class="flex items-center w-full h-20 justify-center">
            <img src={TuchoriceErb.src} class="h-full" />
          </div>
          <p class="text-gray-800 text-sm font-semibold mt-6">
            Tuchorice.cz<br /> — Děkujeme obci Tuchořice za dlouhodobou podporu našeho
            sboru.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl flex flex-col gap-1 p-8">
          <div class="flex items-center w-full h-20 justify-center">
            <FavIcon class="w-20 h-20 text-red-900 fill-red-700" />
          </div>
          <p class="text-gray-800 text-sm font-semibold mt-6">
            — Děkujeme i těm, kteří nás podporují, ale nechtějí být jmenováni.
            Každý dar je pro nás obrovskou pomocí.
          </p>
        </div>
        <div class="bg-orange-600 shadow-sm rounded-xl flex flex-col gap-1 p-8">
          <div class="flex items-center w-full h-20 justify-center relative">
            <HandShakeIcon class="w-20 h-20 text-white" />
          </div>
          <p
            class="text-gray-800 text-sm font-medium mt-6 text-balance text-white"
          >
            <strong class="text-lg">Chcete nás podpořit?</strong><br />Budeme
            rádi za jakoukoli pomoc — finanční, materiální i dobrovolnickou.
          </p>
        </div>
      </div>
    </div>
    <div class="mt-15 grid grid-cols-1 gap-8 md:grid-cols-3 prose">
      <p class="text-balance col-span-2 md:col-span-3 text-sm">
        <strong>POZNÁMKA K TRANSPARENTNOSTI</strong><br /> Seznam je průběžně aktualizován.
        Dary zveřejňujeme se souhlasem dárců; přejete-li si zůstat v anonymitě, dejte
        nám vědět.
      </p>
    </div>
  </div>
  <img
    src={Bg2Img.src}
    class="select-none absolute pointer-events-none left-0 bottom-0 top-0 h-full opacity-10"
    style="
    object-fit: cover;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    "
  />
</div>

<BottomPanel />
