---
import Bg2Img from "../assets/2acce189f87911a8c87dfd2d901ee667.jpg";
import Bg3Img from "../assets/530260744_1173567348150322_1018248472722609602_n.jpg";
import HandShakeIcon from "../assets/agreement-02-stroke-rounded.svg";
import ArrowIcon from "../assets/arrow-down-double-stroke-rounded.svg";
import BookIcon from "../assets/book-02-stroke-rounded.svg";
import BulbIcon from "../assets/bulb-stroke-rounded.svg";
import FireIcon from "../assets/fire-stroke-rounded.svg";
import PlaceholderIcon from "../assets/image-02-stroke-rounded.svg";
import LogoImg from "../assets/logo-no-text.png";
import "../styles/global.css";
import BottomPanel from "./BottomPanel.astro";
import TopPanel from "./TopPanel.astro";
---

<TopPanel />
<div class="w-full min-h-screen relative">
  <img class="object-cover h-full w-full absolute" src={Bg3Img.src} />
  <div class="h-full w-full absolute bg-black/50"></div>
  <div
    class="relative z-10 py-30 w-full flex flex-col items-center"
  >
    <div
      class="container mx-auto max-w-250 text-center items-center justify-center flex flex-col"
    >
      <img src={LogoImg.src} class="w-50 mb-4" />
      <h2
        class="flex flex-col justify-center text-gray-100 font-bold text-3xl mb-8"
      >
        Hasiči Tuchořice
      </h2>
      <h1
        class="text-balance text-7xl font-extrabold text-gray-100 mb-6 text-shadow-xs"
      >
        Chránime vaše životy, <span
          class="bg-gradient-to-l from-orange-600 to-orange-700 text-transparent bg-clip-text"
        >
          zdraví a majetek</span
        >
      </h1>
      <p
        class="text-balance text-2xl text-gray-100 font-light text-shadow-xs tracking-wide italic"
      >
        "Oddaní dobrovolní hasiči sloužící s odvahou, soucitem a odhodláním od
        prvního dne."
      </p>
    </div>
  </div>
  <div class="absolute bottom-0 w-full flex flex-col items-center">
    <div class="container">
      <div class="p-6 flex items-center flex-col w-full">
        <!-- <span class="font-semibold text-black mb-6">Prejdite nadol</span> -->
        <ArrowIcon class="text-white w-8 h-8 animate-bounce" />
      </div>
    </div>
  </div>
</div>

<div
  class="w-full bg-gray-100 px-4 py-20 flex items-center relative flex-col border-t border-black/50"
>
  <div class="container">
    <div class="grid grid-cols-1 gap-8 xl:items-end md:grid-cols-2">
      <div>
        <h2 class="text-gray-800 font-bold text-5xl mb-8 md:text-balance">
          <span class="text-red-800">S hrdostí a odhodláním</span> pomáhame občanům
        </h2>
        <p class="md:text-balance font-medium mb-6 text-lg text-gray-800">
          Náš sbor dobrovolných hasičů je už více než dvě desetiletí oporou při
          mimořádných událostech nejen v naší obci, ale i v okolních regionech.
          Jsme obyčejní lidé, kteří přijali mimořádné poslání – chránit a
          pomáhat svým sousedům.
        </p>
        <p class="md:text-balance font-medium mb-6 text-lg text-gray-800">
          Od hašení požárů a záchranných zásahů až po osvětu a preventivní
          programy se naši členové pravidelně školí, aby byli vždy připraveni,
          když povinnost zavolá.
        </p>

        <div class="grid grid-cols-2 gap-8">
          <div
            class="bg-white shadow-sm rounded-xl p-8 text-center flex flex-col gap-1"
          >
            <strong class="text-red-800 text-3xl">25+</strong>
            <span class="text-gray-800 text-sm font-semibold"
              >Aktivních dobrovolníků</span
            >
          </div>
          <div
            class="bg-white shadow-sm rounded-xl p-8 text-center flex flex-col gap-1"
          >
            <strong class="text-red-800 text-3xl">70+</strong>
            <span class="text-gray-800 text-sm font-semibold"
              >Tísňových výjezdů ročně</span
            >
          </div>
          <div
            class="bg-white shadow-sm rounded-xl p-8 text-center flex flex-col gap-1"
          >
            <strong class="text-red-800 text-3xl">23</strong>
            <span class="text-gray-800 text-sm font-semibold"
              >Let pomoci komunitě</span
            >
          </div>
          <div
            class="bg-white shadow-sm rounded-xl p-8 text-center flex flex-col gap-1"
          >
            <strong class="text-red-800 text-3xl">5000+</strong>
            <span class="text-gray-800 text-sm font-semibold"
              >Občanů, kterým jsme pomohli</span
            >
          </div>
        </div>
      </div>
      <div class="flex gap-6 flex-col">
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <FireIcon class="text-red-800" /> Zásahová činnost
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Jsme připraveni 24/7 k výjezdům – od hašení požárů přes záchranné
            práce až po poskytování první pomoci v celém našem zásahovém obvodu.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <BookIcon class="text-red-800" />Výcvik dobrovolníků
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Naši členové se neustále školí a získávají nové certifikace, abychom
            vždy udrželi nejvyšší standard bezpečnosti a efektivity.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <BulbIcon class="text-red-800" />Osvěta a prevence
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Pořádáme programy požární ochrany, navštěvujeme školy a vedeme
            kampaně, které mají za cíl předcházet mimořádným událostem dříve,
            než nastanou.
          </p>
        </div>
        <div class="bg-white shadow-sm rounded-xl py-6 p-8 flex flex-col gap-1">
          <h5 class="text-red-800 text-2xl font-bold flex items-center gap-3">
            <HandShakeIcon class="text-red-800" />Spolupráce s obcí a okolím
          </h5>
          <p class="text-gray-800 text-sm font-semibold">
            Úzce spolupracujeme se sousedními obcemi, spolky a organizacemi.
            Podílíme se na kulturních a společenských akcích a jsme vždy tam,
            kde je potřeba pomoc.
          </p>
        </div>
      </div>
    </div>
  </div>
  <img
    src={Bg2Img.src}
    class="select-none absolute pointer-events-none left-0 bottom-0 top-0 h-full opacity-20"
    style="
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    "
  />
</div>
<!-- A -->
<!-- <div
  class="w-full px-4 py-20 flex items-center flex-col relative border-t border-gray-200"
>
  <div class="container">
    <section class="mx-auto text-center mb-16">
      <h3 class="text-gray-800 font-bold text-4xl mb-8">
        Naše akce a aktivity
      </h3>

      <p class="text-balance text-gray-500 text-xl mx-auto w-[85%]">
        Objevte, jak naši dobrovolní hasiči aktivně slouží a zapojují se do
        komunity prostřednictvím školení, vzdělávání a osvětových programů.
      </p>
    </section>
    <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 w-full">
      {
        [1, 2, 3, 4, 5, 6].map((i) => (
          <div class="border-gray-200 border-1 bg-gray-100 shadow-sm rounded-xl group cursor-pointer">
            <div class="mx-auto flex flex-col">
              <div class="bg-gray-200 flex items-stretch justify-items-stretch w-full min-h-[200px] max-h-[200px] overflow-hidden rounded-t-xl relative">
                <span class="absolute top-3 z-20 text-white left-3 bg-gradient-to-l from-orange-600 to-orange-700 px-3 py-1 rounded-full text-sm font-semibold">
                  Trenink
                </span>
                <img
                  class="w-full object-cover relative z-10 transition-transform duration-300 transform group-hover:scale-110"
                  src={`https://picsum.photos/seed/${i}/400/200`}
                />
                <PlaceholderIcon class="text-gray-300 w-12 h-12 absolute inset-0 m-auto" />
              </div>
              <div class="p-6 prose">
                <h4 class="text-gray-800 text-xl group-hover:text-red-800">
                  Tréninkové cvičení
                </h4>
                <small class="text-sm">Březen 4, 2025</small>
                <p class="text-gray-800 font-light mt-1 leading-normal">
                  Měsíční školení zaměřené na pokročilé záchranné techniky a
                  práci s vybavením
                </p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div> -->

<BottomPanel />
